<!doctype html>
<html lang="en" ng-app="NslHomeApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Home</title>
        <link rel="stylesheet" href="css/app.css"/>
        <link href="lib/bootstrap2/bootstrap.min.css" rel="stylesheet">
        <style>

            .camera {
                width: 600px;
                margin: 2px;
            }

            .camera-name {
                font-size: 10pt;
                color: white;
                z-index: 10;
                position: absolute;
                margin-left: 7px;
                margin-top: 3px;
            }

        </style>
    </head>
    <body ng-controller="MainCtrl">

        <div class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">
                <a class="brand" href="#"><span class="logo-nsl">nsl</span><span class="logo-home">home</span></a>

                <ul class="nav">
                    <li><a href="index.html">Dashboard</a></li>
                    <li><a href="devices.html">Devices</a></li>
                    <li class="active"><a href="cameras.html">Cameras</a></li>
                </ul>

                <p ng-repeat="device in thermostats" class="navbar-text pull-right">{{device.name}}: <b>{{device.temp}}&deg;</b></p>
            </div>
        </div>

        <div class="container-fluid ng-cloak">

            <div style="width: 1300px; margin: auto">

                <div ng-repeat="device in cameras" style="float: left;">
                    <div class="camera"><div class="camera-name">{{device.name}}</div><img class="camera" src="{{device.jpgUrl}}?t={{dt}}" /></div>
                </div>

            </div>

        </div>

        <script src="/socket.io/socket.io.js"></script>

        <script src="vendor/angular/angular.js"></script>
        <script src="vendor/angular-resource/angular-resource.js"></script>
        <script src="vendor/angular-tree-control/angular-tree-control.js"></script>

        <script src="js/app-main.js"></script>
        <script src="js/controllers/MainCtrl.js"></script>
        <script src="js/services/socket.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
    </body>
</html>
